<div id="wrapper">
    <app-sidebar class="bg-own"></app-sidebar>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <br>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="/dashboard" class="btn btn-dark" style="font-size: 20px;"><i class="fa fa-arrow-left" aria-hidden="true">&nbsp;</i>Back</a>
                    </div>
                </div>
                <div class="row">
                    <div style="text-align: center;" class="col-sm-12">
                        <h3>{{playlist.Name}}</h3><br>
                        <img height="200" width="300" src="../../../../assets/images/{{playlist.PosterPath}}">
                    </div>
                </div>
            </div>
            <div class="container">
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Song</th>
                                <th scope="col">Artist</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let song of songs">
                                    <td>{{song['SongName']}}</td>
                                    <td>{{song['ArtistName']}}</td>
                                    <td (click)="playSong(song['SongName'],song['SongPath'],song['ArtistName'])">
                                        <i class="fa fa-play" aria-hidden="true"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .music-player{
        opacity:1;
        background-color: white;
        position: fixed;
        bottom: -100;
        right: 0;
        left:0;
        width: auto;
        box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.2), 16px 0px 20px 0px rgba(0, 0, 0, 0.19);
        z-index: 1;
    }
    .show-to-screen{
        bottom : 0 !important;
    }
</style>
<div [class.d-none]="!hasSong" id="mplayer" class="music-player">
    <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="true" 
        [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions"
        [displayVolumeControls]="msaapDisplayVolumeControls" [disablePositionSlider]="msaapDisablePositionSlider" 
        [expanded]="true"></ngx-audio-player>
</div>