<div id="wrapper">
    <app-sidebar class="bg-own"></app-sidebar>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container">
                <br><br>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <form #searchForm="ngForm" id="search-form" (ngsubmit)="search()" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                            <i class="fas fa-search" aria-hidden="true"></i>
                            <input autocomplete="off" [(ngModel)]="searchSong" #SearchInput="ngModel" class="form-control form-control-lg ml-3 w-75" 
                                   (input)="search()" name="search" type="text" placeholder="Search By Song Name or Artist Name"
                            aria-label="Search">
                        </form>
                    </div>
                </div>
            </div>
            <br><br>

            <div class="container">
                <div class="row"> 
                    <div class="col-sm-6">
                        <div *ngIf="filterBySongsName.length == 0;else elseBlock">
                            <div class="container">
                                <div class="text-danger row">
                                    <div class="col-sm-12" style="text-align: center;">
                                        <h4><b>No Song found with Name "{{searchSong}}"</b></h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ng-template #elseBlock>
                            <div class="container">
                                <div class="row">
                                    <div style="margin-left: 10%;" class="col-sm-12"><h4><b>Songs Containing "{{searchSong}}"</b></h4></div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Song</th>
                                                <th scope="col">Artist</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let song of filterBySongsName">
                                                    <td>{{song['SongName']}}</td>
                                                    <td>{{song['ArtistName']}}</td>
                                                    <td (click)="playSong(song['SongName'],song['SongPath'],song['ArtistName'])">
                                                        <i class="fa fa-play" aria-hidden="true"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>

                    <!-- Artist -->
                    <div class="col-sm-6" >
                        <div *ngIf="filterByArtistName.length == 0;else elseBlock2">
                            <div class="container">
                                <div class="text-danger row">
                                    <div class="col-sm-12" style="text-align: center;">
                                        <h4><b>No Artist found with Name "{{searchSong}}"</b></h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ng-template #elseBlock2>
                            <div class="container">
                                <div class="row">
                                    <div style="margin-left: 10%;" class="col-sm-12"><h4><b>Artists Containing "{{searchSong}}"</b></h4></div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Song</th>
                                                <th scope="col">Artist</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let song of filterByArtistName">
                                                    <td>{{song['SongName']}}</td>
                                                    <td>{{song['ArtistName']}}</td>
                                                    <td (click)="playSong(song['SongName'],song['SongPath'],song['ArtistName'])">
                                                        <i class="fa fa-play" aria-hidden="true"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>

<style>
    .music-player{
        opacity:1;
        background-color: white;
        position: fixed;
        bottom: -100;
        right: 0;
        left:0;
        width: auto;
        box-shadow: 2px 0px 20px 0px rgba(0, 0, 0, 0.2), 16px 0px 20px 0px rgba(0, 0, 0, 0.19);
        z-index: 1;
    }
    .show-to-screen{
        bottom : 0 !important;
    }
</style>
<div [class.d-none]="!hasSong" id="mplayer" class="music-player">
    <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="true" 
        [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions"
        [displayVolumeControls]="msaapDisplayVolumeControls" [disablePositionSlider]="msaapDisablePositionSlider" 
        [expanded]="true"></ngx-audio-player>
</div>